@{
    ViewData["Title"] = "Mikah Sunderman";
}
<section id="Header">
	<div class="container text-center">
		<h1>Mikah Sunderman</h1>
	</div>
</section>
<section id="About" class="Section">
</section>
<section id="Education" class="Section">
	<h2>Education</h2>
	<div class="container">
		Purdue University, Fort Wayne, IN
		<br />
		May 2017
		<br />
		Bachelor of Science in Computer Science
		<br />
		Minor: Mathematics
	</div>
</section>
<section id="Experience" class="Section">
	<h2>Experience</h2>
	<div class="container">
        Social Media Analyst
		<br />
		Marketing Communications Department
		<br />
		Indiana University - Purdue University Fort Wayne
		<br />
		October 2015 - August 2016
		<p></p>
	</div>
	<div class="container">
        Teaching Assistant
        <br />
        Computer Science Department
        <br />
        Indiana University - Purdue University Fort Wayne
		<br />
		June 2015 - January 2017
		<p></p>
	</div>
</section>
<section id="Skills" class="Section">
	<h2>Technical Skills</h2>
	<div class="container">
		Programming Languages
        <ul>
            <li>C / C++</li>
            <li>C#</li>
            <li>Java</li>
            <li>Python</li>
            <li>JavaScript</li>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>SQL</li>
		</ul>
		Frameworks & APIs
		<ul>
			<li>.NET (C#)</li>
			<li>ASP.NET</li>
			<li>Flask</li>
			<li>DirectX</li>
			<li>OpenGL</li>
		</ul>
	</div>
</section>
<section id="Contact" class="Section">
	<h2>Contact</h2>
	<div class="container">
		Email: <a href="mailto:mikahsunderman@gmail.com">mikahsunderman@gmail.com</a>
	</div>
</section>
